/* Estilo general de la escena */
.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

/* Estilo para los labels */
.label {
    -fx-text-fill: #ffffff;
}

/* Estilo para los botones */
.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

/* Estilo para el TextArea */
.text-area {
    -fx-control-inner-background: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-highlight-fill: #555555;
    -fx-highlight-text-fill: #ffffff;
}

.text-area:focused {
    -fx-background-color: #3c3f41;
    -fx-border-color: transparent; /* Quita el contorno */
}

/* Estilo para la barra de menú */
.menu-bar {
    -fx-background-color: #3c3f41;
}

.menu {
    -fx-text-fill: #ffffff;
}

.menu-item {
    -fx-text-fill: #ffffff;
}

.context-menu{
    -fx-background-color: #3c3f41;
}

.context-menu .menu-item{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

.context-menu .menu-item:hover{
    -fx-background-color: #555555;  /* Color de fondo al pasar el cursor */
}
